---
import { koreanTagNames } from "@/constants";

interface Props {
  title: string;
  createdAt: string;
  updatedAt?: string | null;
  tags: string[];
  readingTime: string;
  thumbnail?: string;
  thumbnailSource?: string | null;
}

const { title, createdAt, updatedAt, tags, readingTime, thumbnail, thumbnailSource } = Astro.props;
---

<div class="w-full relative flex flex-col items-baseline text-foreground" style="isolation: isolate">
  <h1 class="text-4xl mb-3 font-black break-words">{title}</h1>

  <div class="flex flex-wrap gap-x-3.5 gap-y-2.5 items-center">
    <span class="border-2 border-foreground rounded-[20px] px-2.5 py-1.5 text-sm font-extrabold w-fit">
      {updatedAt ? `${updatedAt} updated` : createdAt}
    </span>
    {
      tags.map((tag) => (
        <a href={`/tags/${tag}`}>
          <span class="border-2 border-foreground rounded-[20px] px-1.5 py-1.5 text-sm font-extrabold w-fit hover:bg-black/10 dark:hover:bg-white/10 transition-colors">
            {koreanTagNames[tag] || tag}
          </span>
        </a>
      ))
    }
    <span class="text-xs">{readingTime}</span>
  </div>

  {
    thumbnail && (
      <div class="flex flex-col w-full max-h-[700px] justify-center items-center rounded-[20px] overflow-hidden mt-5" style="isolation: isolate">
        <img src={thumbnail} alt={title} class="w-full h-full object-cover" />
      </div>
    )
  }

  {
    thumbnailSource && (
      <p class="text-xs text-center w-full mt-2">이미지 출처: {thumbnailSource}</p>
    )
  }
</div>
