---
import PostCard from "@/components/react/PostCard";

interface RelatedPost {
  slug: string;
  title: string;
  description: string;
  createdAt: string;
  updatedAt?: string | null;
  tags: string[];
  thumbnail?: string;
}

interface Props {
  relatedPosts: RelatedPost[];
}

const { relatedPosts } = Astro.props;
const relatedPostsLength = relatedPosts.length;
---

<div class="mt-[200px]">
  {
    relatedPostsLength > 0 ? (
      <h2 class="text-2xl font-bold">관련 포스트가 {relatedPostsLength}개 있어요.</h2>
    ) : (
      <div class="flex items-center justify-center h-[100px] rounded-lg bg-stone-100 dark:bg-stone-800 gap-2">
        <svg
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 1.999c5.524 0 10.002 4.478 10.002 10.002 0 5.523-4.478 10.001-10.002 10.001-5.524 0-10.002-4.478-10.002-10.001C1.998 6.477 6.476 1.999 12 1.999Zm-.004 8.25a1 1 0 0 0-.992.885l-.007.116.003 5.502.007.117a1 1 0 0 0 1.987-.002L13 16.75l-.003-5.501-.007-.117a1 1 0 0 0-.994-.882ZM12 6.5a1.251 1.251 0 1 0 0 2.503A1.251 1.251 0 0 0 12 6.5Z"
            fill="currentColor"
          />
        </svg>
        <h2 class="text-xl font-bold">관련 포스트가 없어요.</h2>
      </div>
    )
  }
  {
    relatedPostsLength > 0 && (
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-5">
        {relatedPosts.map((post) => (
          <article>
            <PostCard
              client:visible
              title={post.title}
              description={post.description}
              slug={post.slug}
              thumbnail={post.thumbnail}
              createdAt={post.createdAt}
              updatedAt={post.updatedAt}
              tags={post.tags}
            />
          </article>
        ))}
      </div>
    )
  }
</div>
